<div class="container">
  <p-card header="Holerite" >
    <div class="p-grid p-fluid">
      <form #f (ngSubmit)="onsubmit()" ngFomr=()>

        <div class="p-col-12 p-md-6 p-md-3">
          <h1>Salario Bruto</h1>


         <p-inputNumber name="salarioBruto" placeholder="Digite Seu salarioBruto" [(ngModel)]="model.salarioBruto"></p-inputNumber>

        </div>
        <div class="p-col-12" style="margin-top: 20px">
          <p-button type="submit" label="Calcular" ></p-button>
        </div>


      </form>
      <div class="text-center" >
        <h1>INSS: {{result && result.salarioBruto.toFixed(2) }}</h1>
        <h2>Salario Liquido: {{result && result.grauSalarioMinimo.toFixed(2) }}</h2>
        <h2>Adiatamento Vale: {{result && result.Adiatamento.toFixed(2)}}</h2>
      </div>
    </div>
  </p-card>
</div>
